api.spinnaker.sysdesign.no {
    reverse_proxy postgrest:3000
}

admin.spinnaker.sysdesign.no {
    reverse_proxy pgadmin:80
}

sync.spinnaker.sysdesign.no {
    reverse_proxy powersync:8080
}

auth.spinnaker.sysdesign.no {
    reverse_proxy logto:3001
}

auth-admin.spinnaker.sysdesign.no {
    reverse_proxy logto:3002
}