{$API_DOMAIN} {
    reverse_proxy postgrest:3000
}

{$ADMIN_DOMAIN} {
    reverse_proxy pgadmin:80
}

{$SYNC_DOMAIN} {
    reverse_proxy powersync:8080
}

{$AUTH_DOMAIN} {
    reverse_proxy logto:3001
}

{$AUTH_ADMIN_DOMAIN} {
    reverse_proxy logto:3002
}